

.main-nav {
    position: fixed;
    bottom: 15%;
    width: fit-content;
    padding: 0 5vw;
    left: 50%;
    background-color: #ffffff;
    transform: translateX(-50%);
    border-radius: 0.6rem;
    
}

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
    justify-content: center;
}

.main-nav-link:link, .main-nav-link:visited {
    text-decoration: none;
    display: inline-block;
}




