

.home-projects-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}

.home-projects-title {
    text-transform: uppercase;
    justify-content: center;
}

.home-projects-title-text {
    font-size: 5rem;
}

.home-projects-description {
    align-self: center;
}

.home-projects-description-text {
    font-size: 1.2rem;
}

